@font-face {
    font-family:mangal;
    src: url('font/MANGAL.ttf') format("ttf");
}


#top
{
	display: block;
	width:100%;
	background-image: url("../img/pattern.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	/*background-color:blue;*/
}
#top1{
	display:none;
}
#top img
{
	width:100%;
	margin-top:2px;
}
#top p{
	margin-bottom:0;
	text-align:center;
	font-family: mangal;
	font-size:18px;
	font-weight:400;
	color:#fff;
}
#top .title h3{
	text-align:center;
	font-family: mangal;
	font-size:35px;
	font-weight:400;
	color:#fff;
	margin-top:10px;
}
#top .title2 h4{
	font-family: mangal;
	font-size:28px;
	font-weight:400;
	color:#fff;
	margin-top:10px;
	margin-left:30%;
}
#top .cell a{
	text-decoration:none;
	color:#fff;
	line-height:50px;
}
#top .cell a::before{
	content: "\260E";
	margin-right:10px;
	font-size:25px;
}

/*navbar section start here*/
nav
{
	background-color:rgba(255,255,255,0.5);
	border-bottom:1px solid #999;
}
nav .navbar-brand{
	width:20%;
}
nav .navbar-brand img{
	width:30%;
	margin-left:35%;
}
.collapse .navbar-nav {
	width:70%;
	margin-left:10%;
}
.collapse .navbar-nav .nav-link{
	padding:10px 20px;
	background-color:;
	margin-left:30px;
	color:#23609b;
	transition:all 0.5s;
	font-size:20px;
	font-weight:600;

}
.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
   color:#B70909;
   border:0.2px solid #23609b;
}
.social{
	width:30%;
	margin-left:15%;
}
.social1{
	display:none;
}
.social a{
	text-decoration:none;
	width:30px;
	height:30px;
	padding:2px 10px;
	margin-right:7px;
	line-height:25px;
	display:inline-block;
	vertical-align:middle;
}
.social a i{
	font-size:15px;
	transition:all 0.6s ease-out;
}
.social a:hover > i{
	transform: rotate(360deg);
}
.social .facebook
{
	background-color:#3B5998;
	color:#fff; 
}
.social .twitter
{
	background-color:#1da1f2;
	color:#fff; 
}
.social .google
{
	background-color:#dd4e40;
	color:#fff; 
}


/*social 1 properties are here*/
.social1{
	width:30%;
}
.social1 a{
	text-decoration:none;
	width:30px;
	height:30px;
	padding:2px 10px;
	margin-right:7px;
	line-height:25px;
	display:inline-block;
	vertical-align:middle;
}
.social1 a i{
	font-size:15px;
	transition:all 0.6s ease-out;
}
.social1 a:hover > i{
	transform: rotate(360deg);
}
.social1 .facebook
{
	background-color:#3B5998;
	color:#fff; 
}
.social1 .twitter
{
	background-color:#1da1f2;
	color:#fff; 
}
.social1 .google
{
	background-color:#dd4e40;
	color:#fff; 
}

/*nabar section end here*/

/*banner start here*/
#banner{
	width:100%;
	height:auto;
}

/*banner end here*/

/*About us section start here*/
#about
{
	display:block;
	width:100%;
	background-color:#fff;
	padding-top:25px;
	padding-bottom:6%;
}
#about h2{
	text-align:center;
	font-size:35px;
	font-weight:600;
	color:#000;
}
#about hr{
	width:50%;
	height:2px;
	border:0;
	background-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5),
    rgba(0,0,0,0)
    );
    margin-bottom:20px;
}
#about .about_text
{
  width:100%;
  display: block;
}
#about .about_text p{
	text-align:left;
	font-size:15px;
	font-weight:400;
	color:#000;
}
#about .about_text button{
	border-radius:0;
	-webkit-box-shadow: 0px 1px 2px #000;
	-moz-box-shadow: 0px 1px 2px #000;
	-o-box-shadow: 0px 1px 2px #000;
	box-shadow: 0px 1px 2px #000;
	transition: all 0.5s ease-in-out;
	margin-top:15px;
}
#about .about_text button:hover{
	margin-top:10px;
}
#about .about_img{
	width:100%;
	display: block;	
}
#about .abt_img{
	width:200px;
	height:200px;
	background-image:url("../img/nandi2.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
	margin-left:50%;
	position:relative;
	border:1px solid #000;
}
#about .abt_img .abt_img2{
	width:200px;
	height:200px;
	background-image:url("../img/nandi3.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
	margin-left:-50%;
	position: absolute;
	bottom:-50%;
	left:0;
	border:1px solid #000;
}
/*About us section end here*/

/*gallery section start here*/
#gallery{
	width:100%;
	display:block;
	padding-top:20px;
	padding-bottom:20px;
	background-image:url("../img/gallery_pattern.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
#gallery h2{
		text-align:center;
		font-size:35px;
		font-weight:600;
		color:#fff;
}
#gallery hr{
		width:50%;
		height:2px;
		border:0;
		background-image: linear-gradient(
	    to right,
	    rgba(255,255,255,0),
	    rgba(255,255,255,0.5),
	    rgba(255,255,255,0.5),
	    rgba(255,255,255,0)
	    );
	    margin-bottom:20px;
}
.w3ls_gallery_grids{
	padding-top:0em;
}
.agile_gallery_grid{
	margin-bottom:2em;
}
.agile_gallery_grid1{
    position: relative;
}
.w3layouts_gallery_grid1_pos{
    background:#23609b;
    bottom: 45px;
    left: 45px;
    opacity: 0;
    padding:1em;
    position: absolute;
    right: 45px;
    text-align: center;
    top: 45px;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.w3layouts_gallery_grid1_pos h3{
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 1em 0 .5em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
    color: #212121;
}
.w3layouts_gallery_grid1_pos p{
	color: #fff;
	line-height:2em;
	letter-spacing:1px;
}
.agile_gallery_grid:hover .w3layouts_gallery_grid1_pos{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}
.banner-bottom.gallery{
	padding:5em 0;
}
p.quia {
        font-size: 1.2em;
    color: #140b05;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.agile_gallery_grid img {
    width: 100%;
}
/*gallery section end here*/
/*footer start here*/
footer{
	width:100%;
	display:block;
	background-color:#333;
}
footer .container{
max-width:100%;
}
footer .map{
width:100%;
padding:0;
}

footer .address{
	padding-left:10px
	padding-right:10px;
	width:100%;
}
footer .address .about h3{
 text-align:center;
 font-size:30px;
 font-weight:600;
 color:#fff;
}
footer .address .about p{
 text-align:center;
 font-size:17px;
 font-weight:300;
 color:#fff;
}
footer .address .link h3{
 text-align:center;
 font-size:30px;
 font-weight:600;
 color:#fff;
}
footer .address .link ul{
	list-style-type:none;
	text-align:left;
	margin-left:45px;
}
footer .address .link ul li a{
	font-size:17px;
	font-weight:300;
	color:#fff;
}
footer .address .link ul li a:hover{
	color:#B70909;
}
footer .address .link ul li a::before{
	content: "\27AE";
	margin-right:10px;
	
}
footer .address .add h3{
 text-align:center;
 font-size:30px;
 font-weight:600;
 color:#fff;
}
footer .address .add ul{
	list-style-type:none;
	text-align:left;
	margin-left:30px;
}
footer .address .add ul li {
	font-size:17px;
	font-weight:300;
	color:#fff;
}
footer .address .add ul .location::before{
	font-family: FontAwesome;
	content: "\f041";
	margin-right:12px;
	font-size:14px;
}
footer .address .add ul .mail::before{
	font-family: FontAwesome;
	content: "\f0ac";
	margin-right:12px;
	font-size:10px;
	
}
footer .address .add ul .cell::before{
	font-family: FontAwesome;
	content: "\f10b";
	margin-right:12px;
	font-size:14px;
	
}
footer .address .gal h3{
 text-align:center;
 font-size:30px;
 font-weight:600;
 color:#fff;
}
footer .address .gal img
{
	width:70%;
	margin-left:15%;
}
footer .address hr{
	width:80%;
	height:3px;
	border:0;
	background-image: linear-gradient(
    to right,
    rgba(255,255,255,0),
    rgba(255,255,255,0.5),
    rgba(255,255,255,0.5),
    rgba(255,255,255,0)
    );
}
footer .powered_by{
	width:100%;
	margin-top:2%;
}
footer .powered_by p{
	text-align:center;
	font-size:16px;
	font-weight:400;
	color:#fff;
}
footer .powered_by p a{
	text-decoration:none;color:#fff;
}
footer .powered_by p a:hover{
	color:#B70909;
}
/*footer start end here*/

@media screen and (max-width: 1199px) {
	
}
@media screen and (max-width: 1030px){
		footer .address .add ul li {
			font-size:17px;
			font-weight:300;
			color:#fff;
		}
		footer .address .link ul li a{
			font-size:17px;
			font-weight:300;
			color:#fff;
		}
		footer .address .about p{
		 text-align:center;
		 font-size:17px;
		 font-weight:300;
		 color:#fff;
		}
		footer .address .about h3{
		 text-align:center;
		 font-size:28px;
		 font-weight:600;
		 color:#fff;
		}
		footer .address .link h3{
	 text-align:center;
	 font-size:28px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .add h3{
	 text-align:center;
	 font-size:28px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .gal h3{
	 text-align:center;
	 font-size:28px;
	 font-weight:600;
	 color:#fff;
	}
		footer .powered_by{
			width:100%;
			margin-top:4%;
		}
		footer .address .gal img
		{
			width:70%;
			margin-left:15%;
		}
		footer .address .link ul{
			list-style-type:none;
			text-align:left;
			margin-left:0%;
		}
		footer .address .add ul{
			list-style-type:none;
			text-align:left;
			margin-left:0%;
		}
	nav .navbar-brand{
		width:20%;
	}
	nav .navbar-brand img{
		width:50%;
		margin-left:35%;
	}
	.collapse .navbar-nav {
		width:70%;
	}
	.collapse .navbar-nav .nav-link{
		padding:10px 20px;
		background-color:;
		margin-left:30px;
		color:#23609b;
		transition:all 0.5s;
		font-size:20px;
		font-weight:600;

	}
	.collapse .navbar-nav a:hover, .collapse .navbar-nav a:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.social{
		width:30%;
		margin-left:45px;
	}
	.collapse .navbar-nav a:hover, .collapse .navbar-nav a:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}

}
@media screen and (max-width: 991px){
		footer .address .add ul li {
			font-size:17px;
			font-weight:300;
			color:#fff;
		}
		footer .address .link ul li a{
			font-size:17px;
			font-weight:300;
			color:#fff;
		}
		footer .address .about p{
		 text-align:center;
		 font-size:17px;
		 font-weight:300;
		 color:#fff;
		}
		footer .address .about h3{
		 text-align:center;
		 font-size:28px;
		 font-weight:600;
		 color:#fff;
		}
		footer .address .link h3{
	 text-align:center;
	 font-size:28px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .add h3{
	 text-align:center;
	 font-size:28px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .gal h3{
	 text-align:center;
	 font-size:28px;
	 font-weight:600;
	 color:#fff;
	}
		footer .powered_by{
			width:100%;
			margin-top:4%;
		}
		footer .address .gal img
		{
			width:70%;
			margin-left:15%;
		}
		footer .address .link ul{
			list-style-type:none;
			text-align:left;
			margin-left:0%;
		}
		footer .address .add ul{
			list-style-type:none;
			text-align:left;
			margin-left:0%;
		}
	nav .navbar-brand{
		width:20%;
	}
	nav .navbar-brand img{
		width:50%;
		margin-left:35%;
	}
	.collapse .navbar-nav {
		width:70%;
	}
	.collapse .navbar-nav .nav-link{
		padding:10px 20px;
		background-color:;
		margin-left:30px;
		color:#23609b;
		transition:all 0.5s;
		font-size:20px;
		font-weight:600;

	}
	.collapse .navbar-nav a:hover, .collapse .navbar-nav a:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.social{
		width:30%;
		margin-left:45px;
	}
	#top .title h3{
		text-align:center;
		font-family: mangal;
		font-size:28px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:19px;
		font-weight:400;
		color:#fff;
	}
	#top .title2 h4{
		font-family: mangal;
		font-size:21px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:1%;
	}
	#top .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		text-align: left;
		margin-left:-40%;
	}
	#top .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}
@media screen and (max-width: 767px){
		footer .address .add ul li {
			font-size:14px;
			font-weight:300;
			color:#fff;
		}
		footer .address .link ul li a{
			font-size:14px;
			font-weight:300;
			color:#fff;
		}
		footer .address .about p{
		 text-align:center;
		 font-size:14px;
		 font-weight:300;
		 color:#fff;
		}
		footer .address .about h3{
		 text-align:center;
		 font-size:25px;
		 font-weight:600;
		 color:#fff;
		}
		footer .address .link h3{
	 text-align:center;
	 font-size:25px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .add h3{
	 text-align:center;
	 font-size:25px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .gal h3{
	 text-align:center;
	 font-size:25px;
	 font-weight:600;
	 color:#fff;
	}
		footer .powered_by{
			width:100%;
			margin-top:4%;
		}
		footer .address .gal img
		{
			width:70%;
			margin-left:15%;
		}
		footer .address .link ul{
			list-style-type:none;
			text-align:left;
			margin-left:-24%;
		}
		footer .address .add ul{
			list-style-type:none;
			text-align:left;
			margin-left:-21%;
		}
	nav .navbar-brand img{
		width:60%;
		margin-left:0%;
	}
	.collapse{
		width: 100%;
		background-color:#333;
		padding-top:2%;
		padding-bottom:2%;
	}
	.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.collapse .navbar-nav{
		width: 100%;
		text-align: center;
		margin-left: -4%;
	}
	.navbar-toggler{
		margin-left:10px;
	}
	.social{
		display:none;
	}
	.social1{
		width:40%;
		display:block;
		margin-left:22%;
	}
	.navbar {
		width:100%;
	}
	#top{
		display:none;
	}
	#top1
	{
		display: block;
		width:100%;
		background-image: url("../img/pattern.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		/*background-color:blue;*/
	}
	#top1 .title h3{
		text-align:center;
		font-family: mangal;
		font-size:26px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top1 p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:17px;
		font-weight:400;
		color:#fff;
		margin-bottom:6px;
	}
	#top1 .title2 h4{
		font-family: mangal;
		font-size:19px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:4%;
	}
	#top1 .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		text-align: left;
		margin-left:-50%;
	}
	#top1 .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}
@media screen and (max-width: 630px){
	footer .address .add ul li {
		font-size:14px;
		font-weight:300;
		color:#fff;
	}
	footer .address .link ul li a{
		font-size:14px;
		font-weight:300;
		color:#fff;
	}
	footer .address .about p{
	 text-align:center;
	 font-size:14px;
	 font-weight:300;
	 color:#fff;
	}
	footer .address .about h3{
	 text-align:center;
	 font-size:25px;
	 font-weight:600;
	 color:#fff;
	}
	footer .address .link h3{
 text-align:center;
 font-size:25px;
 font-weight:600;
 color:#fff;
}
footer .address .add h3{
 text-align:center;
 font-size:25px;
 font-weight:600;
 color:#fff;
}
footer .address .gal h3{
 text-align:center;
 font-size:25px;
 font-weight:600;
 color:#fff;
}
	footer .powered_by{
		width:100%;
		margin-top:4%;
	}
	footer .address .gal img
	{
		width:70%;
		margin-left:15%;
	}
	footer .address .link ul{
		list-style-type:none;
		text-align:left;
		margin-left:-33%;
	}
	footer .address .add ul{
		list-style-type:none;
		text-align:left;
		margin-left:-30%;
	}
	nav .navbar-brand img{
		width:60%;
		margin-left:0%;
	}
	.collapse{
		width: 100%;
		background-color:#333;
		padding-top:2%;
		padding-bottom:2%;
	}
	.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.collapse .navbar-nav{
		width: 100%;
		text-align: center;
		margin-left: -4%;
	}
	.navbar-toggler{
		margin-left:10px;
	}
	.social{
		display:none;
	}
	.social1{
		width:40%;
		display:block;
		margin-left:18%;
	}
	.navbar {
		width:100%;
	}
	#top{
		display:none;
	}
	#top1
	{
		display: block;
		width:100%;
		background-image: url("../img/pattern.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		/*background-color:blue;*/
	}
	#top1 .title h3{
		text-align:center;
		font-family: mangal;
		font-size:26px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top1 p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:17px;
		font-weight:400;
		color:#fff;
		margin-bottom:6px;
	}
	#top1 .title2 h4{
		font-family: mangal;
		font-size:19px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:4%;
	}
	#top1 .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		text-align: left;
		margin-left:-70%;
	}
	#top1 .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}

@media screen and (max-width: 560px){
	footer .powered_by{
		width:100%;
		margin-top:4%;
	}
	footer .address .gal img
	{
		width:70%;
		margin-left:18%;
	}
	footer .address .link ul{
		list-style-type:none;
		text-align:left;
		margin-left:25%;
	}
	footer .address .add ul{
		list-style-type:none;
		text-align:left;
		margin-left:28%;
	}
	nav .navbar-brand img{
		width:60%;
		margin-left:0%;
	}
	.collapse{
		width: 100%;
		background-color:#333;
		padding-top:2%;
		padding-bottom:2%;
	}
	.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.collapse .navbar-nav{
		width: 100%;
		text-align: center;
		margin-left: -4%;
	}
	.navbar-toggler{
		margin-left:10px;
	}
	.social{
		display:none;
	}
	.social1{
		width:40%;
		display:block;
		margin-left:35px;
	}
	.navbar {
		width:100%;
	}
	#top{
		display:none;
	}
	#top1
	{
		display: block;
		width:100%;
		background-image: url("../img/pattern.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		/*background-color:blue;*/
	}
	#top1 .title h3{
		text-align:center;
		font-family: mangal;
		font-size:25px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top1 p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:16px;
		font-weight:400;
		color:#fff;
		margin-bottom:5px;
	}
	#top1 .title2 h4{
		font-family: mangal;
		font-size:16px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:8%;
	}
	#top1 .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		text-align: left;
		margin-left:15px;
	}
	#top1 .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}
@media screen and (max-width: 535px){
	footer .powered_by{
		width:100%;
		margin-top:4%;
	}
	footer .address .gal img
	{
		width:70%;
		margin-left:18%;
	}
	footer .address .link ul{
		list-style-type:none;
		text-align:left;
		margin-left:23%;
	}
	footer .address .add ul{
		list-style-type:none;
		text-align:left;
		margin-left:26%;
	}
	nav .navbar-brand img{
		width:60%;
		margin-left:0%;
	}
	.collapse{
		width: 100%;
		background-color:#333;
		padding-top:2%;
		padding-bottom:2%;
	}
	.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.collapse .navbar-nav{
		width: 100%;
		text-align: center;
		margin-left: -4%;
	}
	.navbar-toggler{
		margin-left:10px;
	}
	.social{
		display:none;
	}
	.social1{
		width:40%;
		display:block;
	}
	.navbar {
		width:100%;
	}
	#top{
		display:none;
	}
	#top1
	{
		display: block;
		width:100%;
		background-image: url("../img/pattern.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		/*background-color:blue;*/
	}
	#top1 .title h3{
		text-align:center;
		font-family: mangal;
		font-size:22px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top1 p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:15px;
		font-weight:400;
		color:#fff;
		margin-bottom: 5px;
	}
	#top1 .title2 h4{
		font-family: mangal;
		font-size:14px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:13%;
	}
	#top1 .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		text-align: left;
	}
	#top1 .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}
@media screen and (max-width: 500px){
	footer .powered_by{
		width:100%;
		margin-top:4%;
	}
	footer .address .gal img
	{
		width:70%;
		margin-left:18%;
	}
	footer .address .link ul{
		list-style-type:none;
		text-align:left;
		margin-left:20%;
	}
	footer .address .add ul{
		list-style-type:none;
		text-align:left;
		margin-left:23%;
	}
	nav .navbar-brand img{
		width:60%;
		margin-left:0%;
	}
	.collapse{
		width: 100%;
		background-color:#333;
		padding-top:2%;
		padding-bottom:2%;
	}
	.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.collapse .navbar-nav{
		width: 100%;
		text-align: center;
		margin-left: -4%;
	}
	.navbar-toggler{
		margin-left:10px;
	}
	.social{
		display:none;
	}
	.social1{
		width:40%;
		display:block;
	}
	.navbar {
		width:100%;
	}
	#top{
		display:none;
	}
	#top1
	{
		display: block;
		width:100%;
		background-image: url("../img/pattern.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		/*background-color:blue;*/
	}
	#top1 .title h3{
		text-align:center;
		font-family: mangal;
		font-size:23px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top1 p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:14px;
		font-weight:400;
		color:#fff;
		margin-bottom:5px;
	}
	#top1 .title2 h4{
		font-family: mangal;
		font-size:14px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:5%;
	}
	#top1 .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		text-align: left;
		margin-left:10px;
	}
	#top1 .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}
@media screen and (max-width: 430px){
	footer .powered_by{
		width:100%;
		margin-top:4%;
	}
	footer .address .gal img
	{
		width:70%;
		margin-left:18%;
	}
	footer .address .link ul{
		list-style-type:none;
		text-align:left;
		margin-left:18%;
	}
	footer .address .add ul{
		list-style-type:none;
		text-align:left;
		margin-left:21%;
	}
	nav .navbar-brand img{
		width:60%;
		margin-left:0%;
	}
	.collapse{
		width: 100%;
		background-color:#333;
		padding-top:2%;
		padding-bottom:2%;
	}
	.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
	   color:#B70909;
	   border:0.2px solid #23609b;
	}
	.collapse .navbar-nav{
		width: 100%;
		text-align: center;
		margin-left: -4%;
	}
	.navbar-toggler{
		margin-left:10px;
	}
	.social{
		display:none;
	}
	.social1{
		width:40%;
		display:block;
	}
	.navbar {
		width:100%;
	}
	#top{
		display:none;
	}
	#top1
	{
		display: block;
		width:100%;
		background-image: url("../img/pattern.jpg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
		/*background-color:blue;*/
	}

	#top1 .title h3{
		text-align:center;
		font-family: mangal;
		font-size:20px;
		font-weight:400;
		color:#fff;
		margin-top:10px;
	}
	#top1 p{
		margin-bottom:0;
		text-align:center;
		font-family: mangal;
		font-size:14px;
		font-weight:400;
		color:#fff;
		margin-bottom:4px;
	}
	#top1 .title2 h4{
		font-family: mangal;
		font-size:12px;
		font-weight:400;
		color:#fff;
		margin-top:3px;
		margin-left:4%;
	}
	#top1 .cell a{
		text-decoration:none;
		color:#fff;
		line-height:0px;
		margin-left:-10%;
		text-align: left;
	}
	#top1 .cell a::before{
		content: "\260E";
		margin-right:10px;
		font-size:15px;
	}
}

@media screen and (max-width: 400px){

nav .navbar-brand img{
	width:60%;
	margin-left:0%;
}
.collapse{
	width: 100%;
	background-color:#333;
	padding-top:2%;
	padding-bottom:2%;
}
.collapse .navbar-nav .nav-link:hover, .collapse .navbar-nav .nav-link:active {
   color:#B70909;
   border:0.2px solid #23609b;
}
.collapse .navbar-nav{
	width: 100%;
	text-align: center;
	margin-left: -4%;
}
.navbar-toggler{
	margin-left:10px;
}
.social{
	display:none;
}
.social1{
	width:40%;
	display:block;
}
.navbar {
	width:100%;
}
#top{
	display:none;
}
#top1
{
	display: block;
	width:100%;
	background-image: url("../img/pattern.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	/*background-color:blue;*/
}
#top1 .title h3{
	text-align:center;
	font-family: mangal;
	font-size:16px;
	font-weight:400;
	color:#fff;
	margin-top:10px;
}
#top1 p{
	margin-bottom:0;
	text-align:center;
	font-family: mangal;
	font-size:12px;
	font-weight:400;
	color:#fff;
	margin-bottom:3px;
}
#top1 .title2 h4{
	font-family: mangal;
	font-size:11px;
	font-weight:400;
	color:#fff;
	margin-top:3px;
	margin-left:7%;
}
#top1 .cell a{
	text-decoration:none;
	color:#fff;
	line-height:0px;
	margin-left:-25%;
	text-align: left;
}
#top1 .cell a::before{
	content: "\260E";
	margin-right:10px;
	font-size:15px;
}
}